{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "chrome": 52,
                "browsers": ["last 2 versions", "safari 7"]
            }
        }],
        "react",
        "stage-2"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-runtime"

    ]
}
