@import './mixin/mixin';
@import './mixin/variable';

.header {
    flex: 2rem 0 0;
    background: $module-bg-color;
    li {
        font-size: .12rem;
    }
}

.navbar {
    @include position(absolute, 0, 0, 0, 0, 9);
    background: red;
}
